html {
  box-sizing: border-box;
  font-size: 24px;
  margin:0;
}

*,
*:before,
*:after { box-sizing: inherit; }

body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5em;
  margin:0;
  color: rgb(80, 80, 80);
  max-width: 800px;
  margin: 0 auto 5.5em;

  -webkit-font-smoothing: antialised;
  -moz-osx-font-smoothing: grayscale
}

.addFormContainer {
  position: fixed;
  bottom: 1em;
  left: 0;
  width: 100%;
}

.addForm {
  display: flex;
  justify-content: space-between;
  max-width: 800px;
  margin:auto;
}

.addInput {
  border: solid 3px rgb(180, 180, 180);
  border-radius: 4px;
  flex-grow: 1;
  font-size:inherit;
  margin: 0 .5em;
  padding: 1em .5em;
}

.addButton {
  background-color: white;
  border: solid 3px rgb(1,176,240);
  border-radius: 4px;
  color: rgb(1,176,240);
  cursor: pointer;
  font-size: inherit;
  margin: 0 .5em;
  padding: 1em .5em;
  width: 10em;

  transition: background-color .3s, color .3s;
}

.addButton:hover {
  color:white;
  background-color: rgb(1,176,240);
}

.pollList {
  list-style-type:none;
  padding:0;
  margin: 0 .5em;
}

.pollItem {
  border-bottom: solid 1px rgb(240,240,240);
  padding: 1em 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: background-color .2s, color .2s;
  border-radius: 4px;
}

.winning {
  background-color: rgb(80, 80, 80);
  color: white;
}

.pollItemVoteContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pollItemScore {
  font-size:36px;
  text-align: center;
  width: 3rem;
}

.pollItemVote {
  align-items: center;
  border:solid 3px;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  height: 3em;
  justify-content: center;
  width: 3em;
}

.svgVote {
  stroke-linecap: round;
  stroke-width:4px;
  fill:none;
}

.green {
  border-color: rgb(174, 238, 0);
  color: rgb(174, 238, 0);
  stroke: rgb(174, 238, 0);
}

.red {
  border-color: rgb(255, 53, 139);
  color: rgb(255, 53, 139);
  stroke: rgb(255, 53, 139);
}
